<div class="container">
<div class="row mt-0 mt-lg-5">
    <div class="col-12 col-lg-6">
        <h1 class="headings">MY EDUCATION</h1>
    </div>
    <div class="col-12 col-lg-6">
        <div>
            <div class="d-flex align-items-center justify-content-between">
                <span class="subheadings">BSC(HONS) in ZOOLOGY
                    <!-- <a href="https://www.edominer.com/" class="company-link"><span>eDominer</span></a> -->
                </span>
                <span class="para">Aug 2020-Aug 2023</span>
            </div>
            <p class="para">
                Graduated in HONS from WEST BENGAL STATE UNVERSITY with 9.13 CGPA 
            </p>
        </div>
        <div class="mt-0 mt-lg-5">
            <div class="d-flex align-items-center justify-content-between">
                <span class="subheadings">Higher Secccondary
                    <!-- <a href="https://technosoftacademy.in/" class="company-link"><span>Technosoft
                            Academy</span></a> -->
                </span>
                <span class="para">April 2019-April 2020</span>
            </div>
            <p class="para">
                Passed Higher Secondary from Barrakpore A.B MODEL HIGH SCHOOL with 80% marks
            </p> 
        </div>
        <div class="mt-0 mt-lg-5">
            <div class="d-flex align-items-center justify-content-between">
                <span class="subheadings">Secondary
                    <!-- <a href="https://technosoftacademy.in/" class="company-link"><span>Technosoft
                            Academy</span></a> -->
                </span>
                <span class="para">Jan 2017-Mar 2028</span>
            </div>
            <p class="para">
                Passed Secondary from Barrakpore A.B MODEL HIGH SCHOOL with 69% marks
            </p> 
        </div>
    </div>
</div>
</div>
<hr>