<section class="mt-0 mt-lg-5" id="projects">
    <div class="container shown-area">
        <div class="header">
            <h1 class="headings">Projects</h1>
            <p class="subheadings">These are some of my completed prjects in my tenure at the companies
                <br>
                Sit back and have a look at the projects
            </p>
        </div>
        <!-- expand -->
        <app-commonprojectcard 
        [img]="{src: 'expand.png', alt: 'akcbnakjhb'}" 
        projectTitle="Expand Erp Website" 
        projectDescription="The Expanderp.com website was revamped with a modern UI/UX design to enhance user experience and functionality. New features were added, such as improved inquiry forms, dynamic dashboards, and mobile responsiveness, ensuring seamless performance across devices."
        projectRole="Front-End Developer"
        link="https://www.expanderp.com/"
        >
        </app-commonprojectcard>

        <!-- erp -->
        <app-commonprojectcard 
        [img]="{src: 'erp.png', alt: 'akcbnakjhb'}" 
        projectTitle="Expand Erp Software" 
        projectDescription="jdhvbcsdhjaacbsdahujcbdsahjcbhjcasb"
        projectRole="Front-End Developer"
        link="https://www.expanderp.com/"
        >
        </app-commonprojectcard>

        <!-- dealer and vendor -->
        <app-commonprojectcard 
        [img]="{src: 'vendor.png', alt: 'akcbnakjhb'}" 
        projectTitle="Expand ERP Dealer & Vendor Portal" 
        projectDescription="jdhvbcsdhjaacbsdahujcbdsahjcbhjcasb"
        link="https://www.expanderp.com/selfservices"
        projectRole="Front-End Developer"
        >
        </app-commonprojectcard>

        <!-- internship -->
        <app-commonprojectcard 
        [img]="{src: 'internship4you.png', alt: 'akcbnakjhb'}" 
        projectTitle="Internship4you" 
        projectDescription="jdhvbcsdhjaacbsdahujcbdsahjcbhjcasb"
        projectRole="Full-Stack Developer"
        link="https://internship4you.com/"
        >
        </app-commonprojectcard>

        <!-- turfello -->
        <app-commonprojectcard 
        [img]="{src: 'turfello.png', alt: 'akcbnakjhb'}" 
        projectTitle="Turfello" 
        projectDescription="jdhvbcsdhjaacbsdahujcbdsahjcbhjcasb"
        projectRole="Full-Stack Developer"
        link="https://turfello.com/"
        >
        </app-commonprojectcard>

        <!-- shashank -->
        <app-commonprojectcard 
        [img]="{src: 'shashank.png', alt: 'akcbnakjhb'}" 
        projectTitle="Shashank Skills Academy" 
        projectDescription="jdhvbcsdhjaacbsdahujcbdsahjcbhjcasb"
        projectRole="Front-End Developer"
        link="https://shashankskills.academy/"
        >
        </app-commonprojectcard>
    </div>
</section>
<hr class="mt-5">
