<section class="mt-0 mt-lg-5" id="projects">
    <div class="container shown-area">
        <div class="header">
            <h1 class="headings">Projects</h1>
            <p class="subheadings">These are some of my completed prjects in my tenure at the companies
                <br>
                Sit back and have a look at the projects
            </p>
        </div>
        <!-- expand -->
        <app-commonprojectcard 
        [img]="{src: 'expand.png', alt: 'akcbnakjhb'}" 
        projNum="1"
        projectTitle="Expand Erp Website" 
        projectDescription="Redesigned Expanderp.com for better UX and SEO, enhancing performance and traffic. Contributed to the ERP software’s UI/UX upgrade, improving efficiency and data management."
        projectRole="Front-End Developer"
        link="https://www.expanderp.com/"
        modalprojectTitle = "Expand Erp Website"
        modalprojDetails = "For the Expanderp Website, I led the redesign and optimization efforts to significantly improve both user experience and site performance. A major update was the implementation of a dynamic modal system, which allowed the content to change based on user interaction, making the website more engaging and intuitive. 
        <br> <br>
        I also focused heavily on SEO optimization, achieving a 100% SEO score across multiple tools, which resulted in increased organic traffic and higher search engine rankings. To improve site performance, I implemented techniques like image optimization, minification of CSS and JavaScript files, and lazy loading, reducing page load times by 30% and enhancing the overall responsiveness of the site. Additionally, I ensured the site was fully mobile-responsive, providing a seamless experience across all devices. These enhancements collectively resulted in a more user-friendly, faster, and SEO-optimized platform, significantly boosting its visibility and user engagement."
        >
        </app-commonprojectcard>

        <!-- erp -->
        <app-commonprojectcard 
        [img]="{src: 'erp.png', alt: 'akcbnakjhb'}" 
        projNum="2"
        projectTitle="Expand Erp Software" 
        projectDescription="Revamped the Expandsm ERP software with a modern UI and improved UX. Added new functionalities to streamline business operations, enhancing system efficiency and data management for a smoother user experience."
        projectRole="Front-End Developer"
        link="https://www.expanderp.com/"
        modalprojectTitle="Expand Erp Software"
        modalprojDetails = "
        For the Expandsm ERP Software, I led the initiative to completely redesign the platform, focusing on improving its user interface and overall usability. 
        <br> <br>
        Along with the redesign, I introduced several key functionalities that enhanced the software’s performance and efficiency. One of the most critical fixes was resolving a long-standing logout issue, which had been a major concern for users. I thoroughly debugged and fixed this issue, ensuring a more stable and reliable user session experience. 
        <br> <br>
        Additionally, I introduced a Tour Guide module, which is a dynamic, module-based feature designed to guide new users through the ERP system, helping them understand and navigate the platform quickly. This feature was built to be modular, allowing for easy updates and customization. 
        <br> <br>
        The redesign, along with these enhancements, greatly improved the user experience, making the software more intuitive, user-friendly, and efficient for both new and existing users."

        >
        </app-commonprojectcard>

        <!-- dealer and vendor -->
        <app-commonprojectcard 
        [img]="{src: 'vendor.png', alt: 'akcbnakjhb'}" 
        projNum="3"
        projectTitle="Expand ERP Dealer & Vendor Portal" 
        projectDescription="Developed and optimized the Vendor and Dealer Portals, adding new features to improve functionality. Resulted in a 20% performance boost and a 15% reduction in system bugs, enhancing the overall user experience."
        link="https://www.expanderp.com/selfservices"
        projectRole="Front-End Developer"
        modalprojectTitle="Expand ERP Dealer & Vendor Portal" 
        modalprojDetails = "For the Dealer and Vendor Portals of the Expanderp ERP System, I was responsible for the complete design and implementation of new functionalities aimed at improving performance and enhancing the user experience. I designed the portals to create a more intuitive, user-friendly interface, making it easier for dealers and vendors to navigate and interact with the platform. Additionally, I introduced new features that improved portal functionality, such as enhanced data entry forms, real-time updates, and better integration with backend systems. These changes led to a 20% performance boost and a 15% reduction in system bugs, significantly improving overall system efficiency and user satisfaction. The updated design and added functionalities have made the portals more robust, streamlined, and aligned with user needs, creating a more seamless experience for dealers and vendors."
        >
        </app-commonprojectcard>

        <!-- internship -->
        <app-commonprojectcard 
        [img]="{src: 'internship4you.png', alt: 'akcbnakjhb'}"
        projNum="4"
        projectTitle="Internship4you" 
        projectDescription="Developed Internship4You.com, showcasing full-stack expertise with HTML5, CSS3, JavaScript, Bootstrap, PHP, and MySQL. Implemented user authentication and security features, improving site functionality and reducing vulnerabilities by 30%."
        projectRole="Full-Stack Developer"
        link="https://internship4you.com/"
        modalprojectTitle="Internship4you" 
        modalprojDetails = "
        For the Internship4You platform, I took on the responsibility of designing and developing the entire website, ensuring it was both user-friendly and feature-rich. I developed dynamic pages, allowing for the easy management and display of content tailored to user needs. 
        <br><br>
        The backend was integrated with a database to securely store and manage user data, enabling personalized user experiences. I implemented SEO best practices throughout the development process, optimizing the site’s content, metadata, and structure to improve its visibility and ranking in search engines, leading to increased organic traffic.
        <br><br>
        In terms of user interactivity, I utilized AJAX to provide real-time updates without requiring page reloads, making the platform more responsive and interactive. For improved user feedback, I integrated SweetAlert pop-up notifications to display success messages in a visually appealing and engaging way. These features, combined with a clean and modern design, made the platform intuitive and easy to navigate. 
        <br><br>
        The end result was a fully functional, dynamic, and SEO-optimized website that provided an enhanced user experience, streamlined content management, and greater online visibility."

        >
        </app-commonprojectcard>

        <!-- turfello -->
        <app-commonprojectcard 
        [img]="{src: 'turfello.png', alt: 'akcbnakjhb'}" 
        projNum="5"
        projectTitle="Turfello" 
        projectDescription="Developed a professional website for Turfello, a turf service provider, enhancing online visibility and user engagement. Implemented dynamic PHP features and optimized the site for mobile responsiveness, improving accessibility and performance.    "
        projectRole="Full-Stack Developer"
        link="https://turfello.com/"
        modalprojectTitle="Turfello"
        modalprojDetails = "
        For the Turfello website, I was responsible for the entire development process, from design to implementation, ensuring the platform met the client’s needs. The website was built using PHP, AJAX, and a robust database system to handle dynamic content and user interactions. I developed features that allowed users to easily navigate the site and access information about turf services, with real-time updates powered by AJAX for smooth, seamless interactions without page reloads.
        <br><br>
        The database was used to manage turf booking information, user accounts, and service details, ensuring all data was stored securely and could be accessed quickly. I also implemented custom PHP scripts to handle user requests, process form submissions, and integrate various dynamic elements into the site. The platform’s design was fully responsive, optimized for both desktop and mobile users, ensuring a smooth user experience across all devices.
        <br><br>
        This project, developed entirely by me, resulted in a fully functional and interactive website that enhanced the client’s online presence and made it easier for users to access services, book appointments, and interact with the platform seamlessly."

        >
        </app-commonprojectcard>

        <!-- shashank -->
        <app-commonprojectcard 
        [img]="{src: 'shashank.png', alt: 'akcbnakjhb'}" 
        projNum="6"
        projectTitle="Shashank Skills Academy" 
        projectDescription="Designed the UI for Shashank Skills Academy, focusing on creating an intuitive, user-friendly interface. Added new functionalities to enhance user engagement and improve the overall learning experience, ensuring seamless navigation and performance."
        projectRole="Front-End Developer"
        link="https://shashankskills.academy/"
        modalprojectTitle="Shashank Skills Academy"
        modalprojDetails = "
        For the Shashank Skills Academy website, I was responsible for the complete design of the platform. I focused on creating a clean, modern, and user-friendly interface that aligned with the brand's goals and made navigation intuitive for users. 
        <br><br>
        The design was fully responsive, ensuring a seamless experience across all devices, from desktops to mobile phones. By focusing on UI/UX best practices, I ensured that the website was not only visually appealing but also functional and easy to use. My work on the design helped to enhance the user experience, making it easier for visitors to access courses and information while keeping the platform aligned with the client's vision."
        >
        </app-commonprojectcard>
    </div>
</section>
<hr class="mt-5">
