<section class="mt-0 mt-lg-5" id="aboutme">
    <div class="container shown-area">
        <div class="row">
            <div class="col-12 col-lg-6">
                <h1 class="headings">ABOUT ME</h1>
            </div>
            <div class="col-12 col-lg-6">
                    <p class="para">Hello! I’m Avijit Ghosh, a passionate Web Developer, Front-End Developer, and Web   Designer with hands-on experience in building user-friendly, responsive websites and applications. With expertise in <b style="color: #d3e97a;">HTML, CSS, JavaScript, PHP, MySQL, AJAX, Angular, Bootstrap, and Tailwind </b>, I am committed to creating high-quality, accessible web solutions that are both functional and visually appealing.
                    <br><br>
                    I’ve had the opportunity to work at eDominer, where I contributed to designing and optimizing dynamic websites and applications. I also completed an internship at Technosoft Academy, where I gained valuable experience working on web development projects, enhancing both my technical and problem-solving skills.
                    <br><br>
                    Driven by curiosity and a passion for continuous learning, I always strive to improve my craft. I’m currently exploring new technologies and frameworks, such as <b style="color: #d3e97a;">ReactJS and NextJS</b>, to expand my skill set and stay up-to-date with industry trends. When I’m not coding, you can find me playing football, experimenting with photography, or enjoying a game of Valorant.
                    
                    <b style="color: #d3e97a;"><a href="#footer" style="text-decoration: none; color: #d3e97a !important;">Let’s connect and build something amazing together
                        <i class="fa-solid fa-arrow-right m-1" style="color: #d3e97a;"></i>
                    </a></b></p>
            </div>
        </div>
    </div>
    <div class="container mt-5 toggle-container">
        <div class="row">
            <div class="col-12 col-lg-6">
                <h1 class="headings">MY TOOLKITS</h1>
            </div>
            <div class="col-12 col-lg-6">
                <p class="para">Here are some of the top skills that I’ve developed over time and that I use to bring ideas to life. Each skill is an important piece of my journey, and I’m always excited to add new ones to my toolkit as I continue evolving as a developer.</p>
                <br>
                <div class="row">
                    <div class="col-12 col-lg-12" style="display: contents;">
                        <h5 class="skills-badges p-3 m-2">HTML5</h5>
                        <h5 class="skills-badges p-3 m-2">CSS3</h5>
                        <h5 class="skills-badges p-3 m-2">JavaScript</h5>
                        <h5 class="skills-badges p-3 m-2">Botstrap</h5>
                        <h5 class="skills-badges p-3 m-2">Angular</h5>
                        <h5 class="skills-badges p-3 m-2">Figma</h5>
                        <h5 class="skills-badges p-3 m-2">JQuery</h5>
                        <h5 class="skills-badges p-3 m-2">Git & GitHub</h5>
                        <h5 class="skills-badges p-3 m-2">UI/UX</h5>
                        <h5 class="skills-badges p-3 m-2">Responsive Web design</h5>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row mt-0 mt-lg-5">
            <div class="col-12 col-lg-6">
                <h1 class="headings">MY EXPERIENCE</h1>
            </div>
            <div class="col-12 col-lg-6">
                <div>
                    <div class="d-flex align-items-center justify-content-between">
                        <span class="subheadings">WEB DEVELOPER at
                            <a href="https://www.edominer.com/" class="company-link"><span>eDominer</span></a>
                        </span>
                        <span class="para">Jul 2024-Nov 2024</span>
                    </div>
                    <p class="para">Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                        reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                </div>
                <div class="mt-0 mt-lg-5">
                    <div class="d-flex align-items-center justify-content-between">
                        <span class="subheadings">WEB DEVELOPER INTERN at
                            <a href="https://technosoftacademy.in/" class="company-link"><span>Technosoft
                                    Academy</span></a>
                        </span>
                        <span class="para">Feb 2024-July 2024</span>
                    </div>
                    <p class="para">Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                        reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<hr class="mt-5">
