.img-cont{
    justify-content: flex-end;
}
.hero_img{
    border-radius: 20px;
    max-height: 480px;
}

.fa-circle-down:hover{
    color: aliceblue !important;
}
.typing-heading{
    color: #ffffff;
    font-size: 4.25rem !important;
    font-family: "Bebas Neue", sans-serif;
}

/* .typing-effect {
    font-family: Arial, sans-serif;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    width: fit-content;
    display: inline-block;
    border-right: 2px solid black;
    animation: blink-cursor 0.7s steps(40) infinite;
  }
  
  @keyframes blink-cursor {
    0% { border-color: black; }
    50% { border-color: transparent; }
    100% { border-color: black; }
  }
   */
