<section>
    <div class="container">
        <div class="row mt-0 mt-lg-5">
            <div class="col-12 col-lg-7 d-flex align-items-center mb-3">
                <div class="text-wrapper px-2">
                    <h1 class="headings">Hi I am <br> Avijit Ghosh</h1>
                    <p class="para">I am a passionate and driven Web Developer with expertise in both front-end and back-end technologies. My goal is to craft seamless, interactive, and user-friendly digital experiences that not only look beautiful but are also highly functional and efficient. With years of experience in designing, developing, and maintaining dynamic websites and web applications, I continuously strive to improve my skills and stay up-to-date with the latest web trends and technologies.</p>
                    <div class="d-flex align-items-center">
                        <a class="bnt-links" href="Avijit_Ghosh_Web_developer.pdf" download="Avijit_Ghosh_Web_developer">
                            <button class="btn primary-btn mt-2" >Resume
                                <i class="fa-regular fa-circle-down m-2" style="color: #000;"></i>
                            </button>
                        </a>
                        <!-- <a class="bnt-links" href="#footer">
                            <button class="btn primary-btn mt-2 m-2">Contact Me
                                <i class="fa-solid fa-phone m-2" style="color: #000;"></i>
                            </button>
                        </a> -->
                         <span class="icon-cont mt-2">
                            <a href="https://www.linkedin.com/in/avijit-ghosh-7ba07323b/" target="_blank"><i
                                    class="fa-brands fa-linkedin-in" style="color: #d3e97a;"></i></a>
                        </span> 
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-5 img-cont d-flex">
                <img class="img-fluid hero_img" src="Hero.jpeg" alt="">
            </div>
        </div>
    </div>
</section>
<hr class="mt-5">